name: Python Lint & Format

on:
  push:
    paths:
      - "**/*.py"
      - "pyproject.toml"
  pull_request:
    paths:
      - "**/*.py"
      - "pyproject.toml"

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
      - run: uvx ruff check .
      - run: uvx ruff format --check .
